@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to Wide Eyes, Sleeping Stomach&#8482;, where the most ravenous of gourmands share their opinions with the world.
    W.E.S.S&#8482; is among the most exclusive food reviewing application, where your and only your opinions area shared, challenged only by yourself.
</p>
