@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Revature Ave.<br />
    Lutz, Fl 01234-5678<br />
    <abbr title="Phone">P:</abbr>
    171.717.1717
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Lawyers@WISS.com">Lawyers@WISS.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ChaChing@WISS.com">ChaChing@WISS.com</a>
</address>