@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wide Eyes, Sleeping Stomach&#8482;</h1>
    <p class="lead">Welcome Wide Eyes to the place where tired stomachs review their stuffing.</p>
    <p>@Html.ActionLink("Learn More", "About", "Home")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Places to Eat</h2>
        <p>
            Browse restaurants to inflate your stomach to the size of your eyes. Only the finest selections are featured on this application.
            Along with the worst Eatery’s available and everything in between. Keep your taste buds on edge, teetering between nirvana and taste blight.
        </p>
        <p>@Html.ActionLink("Restaurants", "Index", "Restaurants")</p>
    </div>
    <div class="col-md-4">
        <h2>Registered Wide Eye'd Reviews</h2>
        <p>
            Sift through the very limited archives of the previous brave W.E.S.S that came before you.
            Follow in their tongue licks or taste your own path and make your mark on history for your successors to learn from.
        </p>
        <p>@Html.ActionLink("Reviews", "Index", "Reviews")</p>
    </div>
    <div class="col-md-4">
        <h2>Wide Eyes, Sleeping Stomach&#8482; Contact</h2>
        <p>
            Do you have questions, bug reports, complaints, lawsuits? Feel free to attempt to contact us.
            Disclaimer: All contact information is fraudulent. W.E.S.S&#8482; will not respond to any communication attempts.
        </p>
        <p>@Html.ActionLink("Contact", "Contact", "Home")</p>
    </div>
</div>